.qheader {
    width: 100%;
    padding: 30px;
    display: none;
}

.qimage {
    display: block;
    margin: auto;
    height: 50px;
    width: 50px;
}

#qtext {
    width: 100%;
    margin: auto;
    height: 100px;
    text-align: center;
    line-height: 100px;
    border-bottom: solid 1px;
}
  
.choices {
    display: none;
}

.contents {
    height: 300px;
    display: none;
}

.btns {
        border: solid 1px;
        color: #FFFFFF;
        background-color: #E6E6FA;
        text-align:center;
    
}

.tapStyle {
      color: #FFFFFF;
      background-color: rgba(0,0,255,1);
}
      
    