<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/layout.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <!-- navigation bar -->
    <nav class="navbar navbar-fixed-top">
      <div class="container">
        <div class="row">
          <div class="col-md-3 logo_frame">
            <a href="index.html"><img class="navbar-brand" id="logo" src=""></a>
          </div>
          <div class="col-md-5 title_frame">
            <p class="navbar-text" id="title">GiftApp</p>
          </div>
          <div class="col-md-4">
            <div class="btn_frame">
            <a href="#"><img id="question" src="image/question.png"></a>
            <a href="#"><img id="question" src="image/search.png"></a>
            <a href="#"><img id="question" src="image/trend.png"></a><br>
            <a href="#"><img id="question" src="image/create.png"></a>
            <a href="#"><img id="question" src="image/mail.png"></a>
            <a href="#"><img id="question" src="image/heart.png"></a>
          </div>
          </div>
        </div>
      </div>
    </nav>
    <!-- Header -->
    <header>
    </header>
    <!-- main -->
    <div class="container">
      <div class="row">
        <!-- Left Sidebar -->
        <div class="col-xs-3 sidebar-left">
        </div>
        <!-- Main Contents -->
        <div class="col-xs-6 maincontents">
        </div>
        <!-- Right Sidebar -->
        <div class="col-xs-3 sidebar-right">
        </div>
      </div>
    </div>


    <!-- footer -->
    <footer class="container-fluid">
      <small><a href="#">Copyright (C) 2013-2014  All Rights Reserved.</a></small>
    </footer>
    <!-- Javascript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
