/*************************一般設定*************************/
li {
  list-style: none;
}
      
ul  {
  padding-bottom: 150px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}



/*************************枠組み*************************/

html {
  height: 100%;
}
body {
  height:100%;
  background-color: rgb(0,30,67);
  font-family:  "Meiryo UI", メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
  position: relative;
  /*background-image: url("/image/ribbon.jpg");*/
  /*background-size: contain;*/
  /*background-repeat: no-repeat;*/
  /*background-position: center;*/
  /*background-attachment: fixed;*/
  /*background-color: white;*/
        -webkit-background-size: 80px 80px;
        -moz-background-size: 80px 80px;
        background-size: 80px 80px;
        background-color: #A9F5F2;
        background-image: -webkit-gradient(linear, 0 100%, 100% 0,
                    color-stop(.25, #CEF6F5), color-stop(.25, transparent),
                    color-stop(.5, transparent), color-stop(.5, #CEF6F5),
                    color-stop(.75, #CEF6F5), color-stop(.75, transparent),
                    to(transparent));
        background-image: -webkit-linear-gradient(45deg, #CEF6F5 25%, transparent 25%,
                  transparent 50%, #CEF6F5 50%, #CEF6F5 75%,
                  transparent 75%, transparent);
        background-image: -moz-linear-gradient(45deg, #CEF6F5 25%, transparent 25%,
                  transparent 50%, #CEF6F5 50%, #CEF6F5 75%,
                  transparent 75%, transparent);
        background-image: -ms-linear-gradient(45deg, #CEF6F5 25%, transparent 25%,
                  transparent 50%, #CEF6F5 50%, #CEF6F5 75%,
                  transparent 75%, transparent);
        background-image: -o-linear-gradient(45deg, #CEF6F5 25%, transparent 25%,
                  transparent 50%, #CEF6F5 50%, #CEF6F5 75%,
                  transparent 75%, transparent);
        background-image: linear-gradient(45deg, #CEF6F5 25%, transparent 25%,
                  transparent 50%, #CEF6F5 50%, #CEF6F5 75%,
                  transparent 75%, transparent);
}
/*.ribbon {*/
/*  display: block;*/
/*  position: absolute;*/
/*  height: 450px;*/
/*  width: 1000px;*/
/*  top: 150px;*/
/*  left: 140px;*/
/*  right: 0;*/
/*  z-index: -1;*/
/*}*/
.wrapper {
  width: 1024px;
  height: 100%;
  margin:auto;
  /*background-image: url("/image/ribbon.jpg");*/
  /*background-size: contain;*/
  /*background-repeat: no-repeat;*/
  /*background-position: center;*/
  /*background-attachment: fixed;*/
  /*background-color: white;*/
  padding: 30px;
  /*height:100%;*/
  /*      -webkit-background-size: 80px 80px;*/
  /*      -moz-background-size: 80px 80px;*/
  /*      background-size: 80px 80px;*/
  /*      background-color: #A9F5F2;*/
  /*      background-image: -webkit-gradient(linear, 0 100%, 100% 0,*/
  /*                  color-stop(.25, #CEF6F5), color-stop(.25, transparent),*/
  /*                  color-stop(.5, transparent), color-stop(.5, #CEF6F5),*/
  /*                  color-stop(.75, #CEF6F5), color-stop(.75, transparent),*/
  /*                  to(transparent));*/
  /*      background-image: -webkit-linear-gradient(45deg, #CEF6F5 25%, transparent 25%,*/
  /*                transparent 50%, #CEF6F5 50%, #CEF6F5 75%,*/
  /*                transparent 75%, transparent);*/
  /*      background-image: -moz-linear-gradient(45deg, #CEF6F5 25%, transparent 25%,*/
  /*                transparent 50%, #CEF6F5 50%, #CEF6F5 75%,*/
  /*                transparent 75%, transparent);*/
  /*      background-image: -ms-linear-gradient(45deg, #CEF6F5 25%, transparent 25%,*/
  /*                transparent 50%, #CEF6F5 50%, #CEF6F5 75%,*/
  /*                transparent 75%, transparent);*/
  /*      background-image: -o-linear-gradient(45deg, #CEF6F5 25%, transparent 25%,*/
  /*                transparent 50%, #CEF6F5 50%, #CEF6F5 75%,*/
  /*                transparent 75%, transparent);*/
  /*      background-image: linear-gradient(45deg, #CEF6F5 25%, transparent 25%,*/
  /*                transparent 50%, #CEF6F5 50%, #CEF6F5 75%,*/
  /*                transparent 75%, transparent);*/
}

.wrapper:after {
  content:"";
  display: block;
  clear: both;
}

.contents {
  overflow-y: scroll;   /* スクロール表示 */
  width: 80%;
  height: 400px;
  margin: auto;
  background-color: rgba(255,255,255,0.7);
  position: relative;
  background-image: url("/image/ribbon2.png");
  background-size:  771px 400px;
  background-repeat: no-repeat;
  background-position: center;
  /*background-attachment: fixed;*/
}


/*************************NavBar*************************/

.headerPanels li {
  float: left;
}

.li-home {
  margin-top: 1%;
  height: 100px;
  width: 300px;
  float: left;
}

.li-home a {
  background-image: url("/image/smalllogo.png");
  background-size: cover;
  display: block;
  height: 85px;
  width: 270px;
  margin: auto;
  text-indent: -9999px;
}

.li-home a:hover {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
  opacity: 0.6;
  filter: alpha(opacity=60);
  -webkit-transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  -ms-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}

.li-btn {
  margin-top: 1%;
  height: 85px;
  width: 85px;
  float: left;
}

.li-btn a {
  background-size: 85px 85px;
  display: block;
  height: 85px;
  width: 85px;
  margin: auto;
  text-indent: -9999px;
}

.menu-q a {
  background-image: url("/image/q.png");
}
.menu-n a {
  background-image: url("/image/n.png");
}
.menu-i a {
  background-image: url("/image/i.png");
}

.none {
  height: 85px;
  width: 85px;
  float: left;
}


/*Question説明文*/
.q_description {
  position: relative;
  margin-top: 10px;
  margin-left: -55px;
  height: auto;
  width: 200px;
  padding: 5px;
  border: solid 3px;
  
}

.q_description:before {
	content: "";
	position: absolute;
	top: -8px; left: 50%;
	margin-left: -9px;
	display: block;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 9px 9px 9px;
	border-color: transparent transparent #F6F6F6 transparent;
	z-index: 1;
}
.q_description:after {
	content: "";
	position: absolute;
	top: -12px; left: 50%;
	margin-left: -10px;
	display: block;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 10px 10px 10px;
	border-color: transparent transparent #19283C transparent;
	z-index: 0;
}

/*New説明文*/
.n_description {
  margin-top: 10px;
  margin-left: -55px;
  height: auto;
  width: 200px;
  padding: 5px;
  border: solid 3px;
  position:relative;
  
}

.n_description:before {
	content: "";
	position: absolute;
	top: -8px; left: 50%;
	margin-left: -9px;
	display: block;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 9px 9px 9px;
	border-color: transparent transparent #F6F6F6 transparent;
	z-index: 1;
}
.n_description:after {
	content: "";
	position: absolute;
	top: -12px; left: 50%;
	margin-left: -10px;
	display: block;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 10px 10px 10px;
	border-color: transparent transparent #19283C transparent;
	z-index: 0;
}

/*Information説明文*/
.i_description {
  margin-top: 10px;
  margin-left: -55px;
  height: auto;
  width: 200px;
  padding: 5px;
  border: solid 3px;
  position:relative;
  
}

.i_description:before {
	content: "";
	position: absolute;
	top: -8px; left: 50%;
	margin-left: -9px;
	display: block;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 9px 9px 9px;
	border-color: transparent transparent #F6F6F6 transparent;
	z-index: 1;
}
.i_description:after {
	content: "";
	position: absolute;
	top: -12px; left: 50%;
	margin-left: -10px;
	display: block;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 10px 10px 10px;
	border-color: transparent transparent #19283C transparent;
	z-index: 0;
}

/*************************Loading画面*************************/

#loader {
  width: 200px;
  height: 200px;
  text-align: center;
  /*display: none;*/
  position: fixed;
  _position: absolute; /* IE6対策 */
  top: 50%;
  left: 50%;
  margin-top: -150px; /* heightの半分のマイナス値 */
  margin-left: -100px; /* widthの半分のマイナス値 */
  z-index: 100;
}

#fade {
  width: 100%;
  height: 100%;
  /*display: none;*/
  background-color: #FFFFFF;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 50;
}
