     .giftwrapper {
      position: relative;
      width: 21%;
      margin-left: 2%;
      margin-right: 2%;
      margin-top: 2%;
      margin-bottom: 2%;
      float:left;
    }
    .giftwrapper:after{
        padding-top: 100%;
        display: block;
        content: "";
    }
    
    .content{
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        overflow: hidden;
    }
    
     .wrapper_home {
      position: relative;
      width: 48%;
      float:left;
    }
    .wrapper_home:after{
        padding-top: 48%;
        display: block;
        content: "";
    }
    .content_home{
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        overflow: hidden;
    }
    
      .gifturl {
      display: block;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      height: 100%;
      width: 100%;
      background-color: #FFFFFF;
      border-radius: 50%;
      border: solid 3px rgb(200,200,200);
      float: left;
      margin: auto;
     }

     .title {
        display: block;
        background-image: url("/image/na.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 100%;
        width: 100%;
        background-color: #FF0000;
        margin: auto;
     }
    
    
    .g_description {
        height: auto;
        width: 100%;
        background-color: rgba(255,255,255,0.5);
        position: absolute;
        bottom: 0;
        
      }
      
      .heart {
        height: 30px;
        position: absolute;
        right: 5px;
        top: 10px;
        bottom: 0;
      }