.contents {
      position: relative;
    }
      
    .desc {
      position: absolute;
      width: 100%;
      top: 50%;
      margin-top: -120px;
      display: none;
      text-align: center;
      font-size: 2em;
    }
    
    .qheader {
      padding: 30px;
      height: 150px;
      display: none;
    }
      
    .qframe {
      height: 110px;
      width: 110px;
      float: left;
    }
      
    .qtextframe {
      height: auto;
      width: 84%;
      float:left;
    }
      
    .qimage{
      display: block;
      width: 100px;
      margin: auto;
    }
      
    .qtext {
      height: 150px;
    }
      
    #qtext {
      line-height: 100px;
      font-size: 2.5em;
      border-bottom: solid 1px;
    }
      
    #qtext img {
      display: block;
      margin: auto;
      margin-top: 50px;
    }
      
    .choices {
      display: none;
      padding-top:50px;
    }
    .choice {
      background-size: 100px 100px;
      display: block;
      height: 100px;
      width: 100px;
      text-indent: -9999px;
    }
    
    .choice:hover {
      transform: scale(1.5);
    }
    
    .yes-btn {
      background-image: url("/image/yes.png");
      border-bottom: solid 3px rgb(0,0,255);
    }
    
    .no-btn {
      background-image: url("/image/no.png");
      border-bottom: solid 3px rgb(255,0,0);
    }
      
    .choiceframe1{
      width: 100px;
      height: 100px;
      margin-left: 200px;
      margin-right: 60px;
      float:left;
    }
    .choiceframe2{
      width: 100px;
      height: 100px;
      margin-left: 60px;
      margin-right: 200px;
      float:left;
    }