.slick img {
  max-width: 100%;
  height: auto;
  border: 0;
}

.slick-prev, .slick-next {
  width:50px;
  height:200px;
}

div.slick-prev, div.slick-next {
  z-index: 1;
}
button {
  z-index: 2;
}

.slick-prev {
  position: absolute;
  top: 230px;
  left: 50px;
}

.slick-next {
  position: absolute;
  top: 230px;
  right: 50px;
}

.slick-prev:before, .slick-next:before {
  content:"";
}

.slick-active {
  border: 0;
}
