<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>Mocca</title></title>
<meta name="viewport" content="width=device-width,
 initial-scale=1.0,user-scalable=yes" />
<style>
    .header {
        width: 100%;
    }
    .logo {
        width: 100%;
    }
    
</style>
 
</head>
<body>
<div class="header"><img claee="logo" src="/image/largelogo.png"></div>
<p>初めてのスマートフォン向けサイトです</p>
</body>
</html>
