<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <title>Mocca</title>
    
    <!--Jquery-->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    
    <!--Animation-->
    <!--<link rel="stylesheet" href="/animation/animate.css">-->
    

    
    <style>
    
    html {
      height:100%;
    }
    
     body {
      height: 100%;
      margin: 0;
      background-color: rgb(0,30,67);
    } 
    
    .wrapper {
      width: 1024px;
      height: 100%;
      margin: auto;
      background-image: url("/image/ribbon.png");
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      position:relative;
    }
      /*Header*/
      .header .logo {
        display: block;
        width: 50%;
        padding-top: 5%;
        position:absolute;
        top: 50%;
        left: 50%;
        margin-top: -300px;
        margin-left: -25%;
      }
      
      /* Homepanels */
      .homePanels {
        position: absolute;
        top: 50%;
        margin-top: -150px;
        padding: 0;
        width: 1024px;
      }
      
      
      li {
        list-style: none;
        width: 100%;
      }
      
      .homePanels li {
        margin-top: 12%;
        width: 20%;
        height: 200px;
        position: relative;
        float: left;
      }
      
      .homePanels li a {
        display: block;
        position: absolute;
        top: 5%;
        left: 5%;
        height: 90%;
        width: 90%;
        background-size: 100% 100%;
        margin: auto;
        border-bottom: 1px solid #ada59f;
        text-indent: -9999px;
      }
      
      a:hover {
        -webkit-transition: none;
        -moz-transition: none;
        -ms-transition: none;
        -o-transition: none;
        transition: none;
        opacity: 0.6;
        filter: alpha(opacity=60);
        -webkit-transition: opacity 0.5s ease-out;
        -moz-transition: opacity 0.5s ease-out;
        -ms-transition: opacity 0.5s ease-out;
        transition: opacity 0.5s ease-out;
      }
      
      a:link {
        text-decoration: none;
      }
      
      a:visited {
        text-decoration: none;
      }
      
      
      /*@media screen and (max-width: 1000px ) {*/
      /*  .homePanels li {*/
      /*    margin-top: 12%;*/
      /*    width: 30vmin;*/
      /*    height: 30vmin;*/
      /*    position: relative;*/
      /*    float: left;*/
      /*  }*/
        
      /*  .none {*/
      /*    display: none;*/
      /*  }*/
        
      /*}*/
    </style>
  </head>
  <body>
    <table>
    <div class="wrapper">
    <div class="header">
      <img class="logo" src="/image/largelogo.png">
    </div>
      <ul class="homePanels">
        <li class="none"></li>
        <li class="li-btn">
          <a href="/qflow" data-no-turbolink="1" style="background-image: url('/image/top_q.png')">Questions</a>
        </li>
        <li class="li-btn">
          <a href="/new_arrival" data-no-turbolink="1" style="background-image: url('/image/top_n.png')">New gifts</a>
        </li>
        <li class="li-btn">
          <a href="/info" data-no-turbolink="1" style="background-image: url('/image/top_i.png')">Information</a>
        </li>
        <li class="none"></li>
      </ul>
    </div>
  </table>
  </body>
</html>
