<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>Mocca</title></title>
<meta name="viewport" content="width=device-width,
 initial-scale=1.0,user-scalable=yes" />
<style>
    body {
      font-family:  "Meiryo UI", メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
      background-image: url("/image/ribbon.png");
      background-size: cover;
      background-position: center;
      position: relative;
      background-attachment: fixed;
    }
    .header {
        width: 90%;
        margin: auto;
    }
    .logo {
        display:block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .about {
        width: 90%;
        margin: auto;
        text-align: center;
        height: 120px;
        border: solid 1px;
        border-radius: 10px;
        background-color: rgba(255,255,255,0.5);
    }
    .tab {
        display:block;
        width: 90%;
        margin: auto;
        height: 100px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin-top: 10px;
        background-color: rgba(255,255,255,0.5);
    }
    .q {
        background-image: url("/image/qforsm.png");
    }
    .n {
        background-image: url("/image/nforsm.png");
    }
    .i {
        background-image: url("/image/iforsm.png");
    }
    
</style>
 
</head>
<body>
    
<table>    
    <div class="header">
        <img class="logo" src="/image/largelogo.png">
    </div>
    <div class="about">
      <h3>MOCCAはギフトをあげたいけど<BR><BR>何をあげたらいいか分からない...<BR><BR>そんな時に役に立つサイトです</h3>    
    </div>
    <a class="tab q" href="/qflow" data-no-turbolink="1"></a>
    <a class="tab n" href="/new_arrival" data-no-turbolink="1"></a>
    <a class="tab i" href="/info" data-no-turbolink="1"></a>

</table>
</body>
</html>
